.wrapper{
    width:900px;
    height:900px;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:900px 100px;
    grid-template-areas: 
    'left-side main right-side'
    '. footer .';
    gap:7px;
    margin:auto;
}
/*grid stuff*/
.main{
    grid-area:main;
    display:grid;
    height:900px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: var(--header-height) 40px 3fr 2fr 100px;
    grid-template-areas:
    'topper topper topper topper topper'
    'nav nav nav nav nav'
    'centerbox centerbox centerbox centerbox centerbox'
    'follow follow guestbook guestbook guestbook'
    'free free free free free';
    gap:5px 7px;
}
.side{
    display:grid;
    height:900px;
    gap:7px;
}
.left-side{
    grid-area:left-side;
    grid-template-rows: var(--header-height) 100px 1fr 1fr;
}
.right-side{
    grid-area:right-side;
    grid-template-rows: var(--header-height) 5fr;
}
.centerbox{
    grid-area:centerbox;
    
}
.follow{
    grid-area:follow;
    color:rgb(60, 51, 28);
    
}
.follow>h2{
    color:rgb(241, 228, 169);
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    -webkit-text-stroke: rgb(117, 85, 56) 0.7px;
}
.free{
    grid-area:free;
}
.guestbook{
    grid-area:guestbook;
    color:purple;
}
.guestbook>h2{
    color:rgb(250, 199, 239);
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    -webkit-text-stroke: rgb(170, 35, 152) 0.7px;
}
footer{
    grid-area:footer;
    color:white;
}





/*boxes*/

.section{
    display:flex;
    flex-direction: column;
}

.mainbox, .sidebox, .right-sidebox{
    border-radius: 10px;
    box-sizing:border-box;
    padding:10px;
    flex:1;
    
}
.sidebox{
    flex:1;
    
}
.centerbox{
    background:url("/assets/grid.png");
    border-color:green;
    position: relative;
    color:rgb(71, 105, 71);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.centerbox *::selection{
    background-color:rgb(103, 175, 103);
}
.followbox{
    background:url("/assets/browns.png") rgb(175, 117, 76);
    border:none;
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255,0.4),
                inset -3px -3px 3px rgba(0, 0, 0, 0.3),
                2px 2px 2px rgba(0, 0, 0, 0.2);
}
.guestbookbox{
    background-color: rgb(181, 93, 195);
    border-color: rgb(138, 41, 129);
    color:purple
}
.free{
    border:none;
    display:flex;
    scrollbar-width: none;
    scrollbar-color: green white;
    overflow-x:scroll;
    transition: all .2s;
}
.free:hover{
    scrollbar-width: thin;
}
.followbox h3,.guestbookbox h3{
    font-size:16px;
    margin-bottom: 5px;
}


.contentbox{
    position:relative;
    background:rgba(255,255,255,0.8);
    color:rgb(100, 152, 100);
    border-radius: inherit;
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding:10px 25px 10px 25px;
    
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4);
    text-shadow: 0 0 3px rgba(41, 99, 55, 0.4);
}

.contentbox>h1{
    margin-top:10px;
    font-size:24px;
    color:rgb(247, 255, 207);
    -webkit-text-stroke: rgb(109, 168, 124) 1px;
    text-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.contentbox>h1>span{
    color:rgb(187, 239, 227);
    
    -webkit-text-stroke: rgb(39, 143, 149) 1px;
    text-decoration: underline wavy rgb(186, 105, 144);
}