.deltarune-box{
    background:black;
    border:2px solid white;
    color:white;
}
.writings-box{
    background: rgba(255,255,255,0.7);
    border:2px solid gray;
    font-family: 'Helvetica','batang',monospace;
}
.gallery-box{
    background:rgb(130, 130, 212);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    border:2px solid purple;
}
.gameroom-box{
    background:rgb(51, 255, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    border:2px solid purple;
}
.resources-box{
    background:rgb(255, 0, 157);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    border:2px solid purple;
}