.deltarune-box{
    background:black;
    border:2px solid white;
    color:white;
    padding:7px;
    text-align: center;
    font-size:11px;
}
.writings-box{
    background: rgba(255,255,255,0.7);
    border:2px solid gray;
    font-family: 'Helvetica',monospace;
}
.gallery-box{
    background:rgb(130, 130, 212);
    font-family:sans-serif;
    color:white;
    border:2px solid purple;
}
.gameroom-box{
    background:rgb(51, 255, 0);
    font-family:sans-serif;
    color:white;
    border:2px solid purple;
}
.resources-box{
    background:rgb(255, 0, 157);
    font-family:sans-serif;
    color:white;
    border:2px solid purple;
}